html {
    scroll-behavior: smooth;
}
.ourClients {
    .react-multi-carousel-list {
        position: static !important;
    }
    .react-multiple-carousel__arrow {
        border: 1px solid #000000;
        background-color: transparent;
    }
    .react-multiple-carousel__arrow::before {
        color: #000000;
    }
    .react-multiple-carousel__arrow:hover {
        background-color: transparent;
    }
}